body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.d-flex {
	display: flex;
}

.justify-center {
	justify-content: center;
}

.header {
	display: flex;
	justify-content: center;
}

.align-center {
	align-items: center;
}

.ma-0 {
	margin: 0;
}

.ma-10 {
	margin: 10px;
}

.mr-5 {
	margin-right: 5px;
}

.border-outer {
	border: 10px black solid;
}

.border {
	border: 5px red solid;
}